body {
background-image: url(https://i.imgur.com/mbfR9O2.jpg) !important;
background-color: darkslateblue;
}
.icon {
    width: 100px;
    height: auto;
}
.text-center{
    color: blueviolet;
}
#numberWins, #numberLosses{
 color: darkviolet;
} 